
<h2>Installing Blockski+</h2>
<h3>Requirements...</h3>
<ul>
  <li>
Some gambas3 components are required
<p></p>
  gambas3-runtime<br>
  gambas3-gui<br>
  gambas3-dev<br>
  gambas3-gb-dbus<br>
  gambas3-gb-settings<br>
  gambas3-gb-compress<br>
  gambas3-gb-compress-zlib<br>
  gambas3-gb-args
<p></p>
  gambas3-gb-net<br>
  gambas3-gb-net-curl<br>
  gambas3-gb-markdown
<p></p>
<li>  sudo apt-install gambas3-runtime gambas3-gui gambas3-dev gambas3-gb-dbus  gambas3-gb-settings gambas3-gb-compress gambas3-gb-compress-zlib gambas3-gb-args  gambas3-gb-net gambas3-gb-net-curl gambas3-gb-markdown
<p></p></li>
  </ul>
<h4>For best results be sure the project folder is named Blockski+</h4>
<hr>
<p></p>

For those who know gambas you can open the project and compile/install/play it as you know how.
<p></p>
In this project folder are 2 scripts that may help others.<br>
<p></p>
Note: Set their executable flags to run them with a double click.
<p></p>
<ul>
  <li>
<strong>Run.sh</strong> . This will compile the program binaries if they do not exist and then run the project from it's folder without creating n executable. (The project folder must be complete)
<p></p></li>
  <li>
<strong>CompileAndMakeDesktopIcon.sh</strong> . This will compile the program binaries and create a launchable <b>Blockski+.gambas</b> executable file. It will then give options to create a menu item and a desktop launcher. (Note: The Blockski+.gambas executable file that is created <b>MUST</b> stay where it is for the launcher or menu that points to it to continue working, if you move the folder you can run the scipt again to re-create the launchers)
<p></p></li>
  </ul>
  
<p></p>
Once you have the program up and running you can use the built in online-updater to keep up with new versions. using the updater will upgrade either the project folder (if run from the project folder) or a standalone executable outside of the project folder.
<p></p>
<a href="http://bws.org.uk">Go to my homepage</a>
