<center>
<p></p>
<h2>Blockski , A Klotski like game</h2>
<h3>Written by Bruce Steers</h3>
Current status: Work in progress, Beta<br>
<p>The game play board is stable but there are some bugs in the editor undo system.</p>

<p></p>
</center>
<p></p>
<h3>Gameplay:</h3>
<ul>
  <li>
Move blocks around the board in order to get the Prize block (the one with the star) to the Goal block (the grey one with a star) as quickly and in as few moves as possible.
<p></p></li>
  <li>
Blocks can only be moved into free spaces and if the path is not blocked by other blocks, walls or ghost walls.
<p></p></li>
  <li>
A block moved any distance and dropped counts as 1 move.
<p></p></li>
  <li>
Only the Prize block and "Ghosted" blocks can pass through ghost walls and the goal block.
<p></p></li>
  <li>
Vanishing walls disappear if the Prize block moves over on them.
<p></p></li>
  <li>
'Ghosted' blocks cannot go through normal blocks/walls.
<p></p></li>
  </ul>


<h3>Program features...</h3>
<ul>
  <li>
Adjust block size to make map fit screen/window.
<p></p></li>
  <li>
Online updater, Lets you know if there is a new version and if so you can either download a zip or auto-upgrade.
<p></p></li>

  <li>
Save/Restore game, Either use Quicksave (no filename) or give a name to save / restore game progress.<br>
Saves and restores the block positions and game duration.
<p></p></li>

  <li>
Manage Highscores.  Highscores can be saved and imported/merged into other games on other computers.<br>
Use to share your scoreboard with a friend/partner.<br>
Recover Highscores lost if you changed a board filename. shows a list of all recorded scores that you can import.
<p></p></li>

  <li>
ScoreShare. connect to an online score sharing system. one connected your scores stay on the server for 24 hrs and anyone can merge your scoreboard into theirs.
<p></p></li>

  <li>
Games can be paused/resumed
<p></p></li>

  <li>
Added a little side game that loads any chosen picture into the board as a sliding square puzzle. (wip)
<p></p></li>

  </ul>

<h3>Board editor features...</h3>
<ul>
  <li>
Create/Delete/Edit boards.
<p></p></li>
  <li>
Create/Delete blocks.
<p></p></li>
  <li>
Edit block shapes.
<p></p></li>
  <li>
Use custom board background pictures.
<p></p></li>
  <li>
Use custom block/wall images.
<p></p></li>
  <li>
Undo/Redo.
<p></p></li>
  <li>
Use a color mask on block/wall images.
<p></p></li>
  <li>
Cut/Copy/Paste.
<p></p></li>
  <li>
Colorize or change images for all blocks of the selected type at once.
<p></p></li>
  <li>
Enable/Disable editing in order to test board.
<p></p></li>
  <li>
Reselet option reselects the add-block button so many blocks can be added by just clicking the board free space.
<p></p></li>

  </ul>

<h3>Notes:<br></h3>
Built in boards can be added/edited/deleted using the board editor if you open the project in the gambas3 IDE and run it from there.<br>
Saving/deleting built in boards is disabled when running the executable nomally (not via the IDE), they can be edited but you must then use "Save As" to save to the external boards directory or somewhere else.<br>
You can oveide this using the command line argument -
<p></p>
Feel free to make new boards and send them to me :)
<p></p>
Warning: Edits to existing Built in boards will be automatically overwritten if updated.
<p></p>
<hr>
A custom block image can be any size but it should be square.
<hr>
Online updater will work differently depending on if the program resides in it's project folder or not.
<p></p>
If it IS in the project folder then the latest project files are downloaded and the whole project source is updated.<br>
(existing files overwrite old ones but nothing else is deleted in case you have made your own boards in the project dir)
<p></p>
If it is a standalone application (just the Blockski+.gambas executable not in the project folder) then the new version is downloaded and compiled in a temporary location and the old Blockski+.gambas file is overwritten.
<p></p>
<hr>
For more help read the tooltips that popup for each control.
<p></p>
<h3>Todo:</h3>
<ul>
  <li>
Make more boards
<p></p></li>
  <li>
Debug the Editor some more.
<p></p></li>

  </ul>
<h3>Snapshots:</h3>
<p>
<p></p>
The main game window...
<p></p>
<img src="http://bws.org.uk/img/Blockski.png">
<p></p>
</p>
<p></p>
<p>
<p></p>
Board editor...
<p></p>
<img src="http://bws.org.uk/img/BlockskiEdit.png">
</p>
<p></p>
<h3>Attributions / Thanks..</h3>
Benoit Minisini for the gambas basic development environment
<p></p>
Textures: Image by <a href="https://www.freeimages.com">Freeimages.com</a>
Wood Photo by <a href="/photographer/tome213-49933">tome213</a> on <a href="/">Freeimages.com</a>
<p></p>
